@use 'variables' as v;
@use 'mixins' as m;

.lineUp{
    background-color: v.$rosa;
    padding: 3rem 0;
    margin: 0;

    h3, p{
        text-align: center;
        color: v.$blanco;
    }
    p{
        text-transform: uppercase;
        font-weight: bold;
        color: v.$negro;
    }
    .dia{
        color: v.$blanco;
    }
    
}

.escenario-contenedor{
    
    @include m.telefono {
        display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
   
       
    }
    .escenario{
       margin: 2rem;
       padding: 1rem;
       border-radius: 5px;
    }
}
.calendario{

    margin: 0;
    padding:0 ;
  
li{
    color: v.$negro;
    list-style: none;
    padding: 22px ;
    margin: 0;
    span{
        font-weight: 700px;
    }
}

}

.bg-amarillo{
    background-color: v.$amarillo;

    li:nth-child(odd){
        background-color: darken(v.$amarillo, 10%);
    }
}
.bg-verde{
    background-color: v.$verde;
    li:nth-child(odd){
        background-color: darken(v.$verde, 10%);
    }
}

