//tipografia
$fuentePrincipal:'Montserrat', Sans-serif;

// colores
$negro: rgb(6, 6, 6);
$gris: #404256;
$verde: rgb(0, 181, 136);
$rosa: rgb(255, 0, 162);
$rojo:red;
$amarillo: rgb(252, 223, 36);
$morado: rgb(114, 0, 72);
$blanco:white;


